<h3>add new doctor</h3>

<form action="/doctors" method="post">
  <div class="form_group">
    <label class="form-label" for="name">add new doctor</label>
    <input type="text" name="name" class="form-control" placeholder="Name">
    <input type="text" name="specialty" placeholder="Enter specialty">
    <button type="submit" class="btn">add doctor</button>

  </div>
</form>
