<h1>Doctors Office</h1>


<div class="container">
  <a href="/doctors_form"><button class="btn">add new doctor</button></a>
  <a href="/doctors"><button class="btn">view all doctors</button></a>
</div>
